{% extends 'base.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container-sm">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Save" class="btn btn-outline-success">Add</button>
        </form>
    </div>
{% endblock %}